.Form {
  color: var(--dark-slate-grey);
  padding-left: 20px;
  margin-bottom: 10px;
  border-radius: 35px;
  border-top-left-radius: 35px !important;
  border-bottom-left-radius: 35px !important;
}

.Form:focus {
  box-shadow: none;
  border: 1px solid var(--salmon);
}

.Line {
    background: var(--salmon);
    margin: 25px 0;
}

.CommentsButton {
  background-color: var(--salmon);
  box-shadow: 1px 1px 5px var(--salmon);
  border-radius: 35px;
  border-color: var(--salmon);
  font-weight: bold;
  margin-right: 10px;
  padding: 3px 15px;
}

.CommentsButton:hover, .CommentsButton:focus {
    background-color: var(--light) !important;
    color: var(--dark-slate-grey) !important;
    box-shadow: 1px 1px 5px var(--light) !important;
    border-color: var(--dark-slate-grey) !important;
}