.Input {
  background: #fff;
  border: 1px solid var(--light);
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--dark-slate-grey);
  text-align: center;
  padding: 15px;
}

.Input:focus {
  box-shadow: none;
  border: 1px solid var(--salmon);
}

.Input::placeholder {
  font-weight: normal;
}

.Input[value] {
  font-weight: bold;
  color: var(--dark-slate-grey);
}

.Link {
  display: block;
}

.Link span {
  color: var(--salmon);
}

.Alert {
  margin-bottom: 0;
  padding: 0;
  font-weight: bold;
}