.Link {
  display: inline;
  margin-left: 7px;
}

.LikeFeedAddDisplay a {
  display: block !important;
  margin: 5px 0;
}

.SplitColumns {
  display: table-cell;
  border-collapse: separate;
  border-spacing: 7px;
}

@media all and (max-width: 991px) {
  /* 3 columns on medium - small screens */
  .CollapsedColumn {
    display: table-cell;
    width: 31%;
  }
}

@media all and (max-width: 768px) {
  .CollapsedColumn {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
  }

  .CollapsedColumn:nth-child(2) {
    margin: 0;
  }

  .UsersDisplay {
    display: flex;
    justify-content: space-around;
  }

  .CategoriesColumn {
    display: inline-table;
  }
}

@media all and (max-width: 430px) {
  .Link {
    display: block;
  }

  .LikeFeedAddDisplay a {
    text-align: center !important;
    margin: 0;
  }

  .LikeFeedAddDisplay img {
    vertical-align: 0;
  }
}
