.Link {
  display: inline;
  margin-left: 7px;
}

@media all and (min-width: 991px) {
  .LikeFeedAddDisplay {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 768px) {
  .UsersDisplay {
    display: flex;
    justify-content: space-around;
  }
}

@media all and (max-width: 430px) {
  .Link {
    display: block;
  }

  .LikeFeedAddDisplay a {
    text-align: center !important;
  }

  .LikeFeedAddDisplay img {
    vertical-align: 0;
  }
}
