/* Colors pallet */
:root {
  --dark-slate-grey: #293f4a;
  --light-grey: #718085;
  --light: #d6dad9;
  --beige: #b1aca6;
  --salmon: #F87364;
}

.App {
  font-family: "Inter", sans-serif;
  color: var(--dark-slate-grey);
  background-color: var(--light);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.Body {
  padding-top: 120px;
}

.Content {
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #fff;
}

a {
  color: var(--dark-slate-grey) !important;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: var(--dark-slate-grey);
  transition: color ease-in-out 0.3s;
	transform: rotate(-15deg) scale(1.1);
}

i {
  color: var(--light-grey);
  font-size: 1.5rem;
  padding: 6px;
  vertical-align: middle;
}

.button {
  background-color: var(--salmon);
  box-shadow: 1px 1px 5px var(--salmon);
  border-color: var(--salmon);
  font-weight: bold;
}

.button:first-child {
  margin-right: 15px;
}

.button:hover, .button:focus {
    background-color: var(--light) !important;
    color: var(--dark-slate-grey) !important;
    box-shadow: 1px 1px 5px var(--light) !important;
    border-color: var(--dark-slate-grey) !important;
}