/* Colors pallet */
:root {
  --dark-slate-grey: #293f4a;
  --light-grey: #718085;
  --light: #d6dad9;
  --beige: #b1aca6;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-slate-grey);
  background-color: var(--light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

